.ComparisonComponent {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  border: rgb(240, 235, 235);
  border-radius: 30px;
  border-style: solid;
  color: white;
  margin: 5%;
  margin-bottom: 0px;
  }