/*  src/Title.css  */
.Title {
    background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80px;
  }

  .heading{
    margin-right: 900px !important;
    font-size: 30px !important;
    
  }

